%h1 Greetings and Well Met,
%h4 This is the RSVP site for Payton and Meg's wedding. 
%h4 Please tell me your name so I can look up your invitation.

.form
  = simple_form_for :guest, url: find_guests_url do |f|
    = f.input :first_name, required: false
    = f.input :last_name, required: false
    = f.button :submit, 'Find'
