.page-header
  = link_to guests_path, :class => 'btn' do
    %i.icon-list-alt
    Back
  = link_to edit_guest_path(@guest), :class => 'btn btn-primary' do
    %i.icon-pencil.icon-white
    Edit
  %h1 Listing guests

%dl
  %dt Name
  %dd= @guest.full_name
  - @guest.answers.each do |question|
    %dd <em>#{answer.question.label}:</em> answer.answer_text
