.page-header
  = link_to users_path, :class => 'btn' do
    %i.icon-list-alt
    Back
  = link_to @user, :class => 'btn btn-primary' do
    %i.icon-info-sign.icon-white
    Show
  %h1 Editing user

= render 'form'
